<!DOCTYPE html>
<html lang="'en">
<head>
<title>CRUD Application</title>
</head>

<body>
<header id="'header">
    <nav>
        <div class="container">
           <div class="text-center">
            <a href="/" class="nav-brand text-dark">
                User Management Systems
            </a>
           </div> 
            
        </div>
    </nav>
</header>
